[user]
	name = João Pinto
	email = pintojad03@gmail.com
	signingkey = ~/.ssh/id_yubikey.pub

[core]
	editor = nvim

[gpg]
	format = ssh

[commit]
	gpgsign = true

[tag]
	gpgsign = true

[url "git@github.com:"]
	insteadOf = https://github.com/
