[user]
	name = João Pinto
	email = pintojad03@gmail.com

[core]
	editor = nvim
	pager = less -FRX
[diff]
	tool = nvimdiff
[difftool]
	prompt = false
[merge]
	tool = nvimdiff
[difftool "nvimdiff"]
	cmd = nvim -d \"$LOCAL\" \"$REMOTE\"
[alias]
	gd = "!nvim -c 'DiffviewOpen'"
	gh = "!nvim -c 'DiffviewFileHistory %'"
